/* ================================================== */
/*  OnlineDemo_site common style  */
/* ================================================== */

/* --- reset & body style --- */
* {
	margin:0;
	padding:0;
}

html {
	height:100%;
}

body {
	height:100%;
	font-family:sans-serif;
	_font-family:Verdana;
	color:#000000;
	background:#f0f0f0;
}

html>body {
	font-family:
		Meiryo,
		"ÉÅÉCÉäÉI",
		Verdana,
		sans-serif;
}

img {
	border:0;
}

a {
	color:#006496;
	text-decoration:none;
}

a:hover {
	color:#0096E6;
	text-decoration:underline;
}
/* end */


/* --- wrapper --- */
#wrapper {
	width:960px;
	height:auto;
	min-height:100%;
	margin:0 auto -110px auto;
	background:url(../images/demo/contents.jpg) repeat-y center top;
	position: relative;
}

* html #wrapper {
	height:100%;
}
/* end */


/* --- header --- */
	#header {
		width:960px;
		height:110px;
		margin:0 auto;
		position:relative;
	}
		
		#header h1 span {
			visibility:hidden;
			position: relative;
		}
		
		#header img.gclogo {
			position: absolute; top:15px; left:802px;
		}
/* end */


/* --- container & nav --- */
 	#container 
 	{
 	    padding:0 15px 20px 5px;
		overflow:hidden;		
		position:relative;
	}

 	#nav 
 	{
 	    margin:0 -5px;
		padding:15px 0px 0px 30px;		
		position:relative;
		color:#787878;
		font-size:10px;
		letter-spacing:1px;
	}
		
		#container #nav 
		{		   
			margin:0 -5px;
			padding:15px 0;
			color:#787878;
			font-size:10px;
			letter-spacing:1px;
		}

/* --- contents --- */
	#contents {
		width:690px;
		margin: 0px;
		color:#464646;
		position: relative;
	}
		
		#contents h2 {
			margin:0 0 20px 0;
			padding:20px 10px;
			color:#000000;
			font-size:125%;
			font-weight:lighter;
			border-bottom:1px solid #E6E6E6;
			background:#f5f5f5;
		}
		
		#contents h3 {
			margin:0 0 15px 0;
			padding:10px;
			color:#000000;
			font-size:105%;
			font-weight:lighter;
			line-height:150%;
			border-bottom:3px solid #E6E6E6;
		}
		
		#contents h4 {
			margin:0 0 15px 0;
			padding:10px;
			color:#2D6E73;
			font-size:90%;
			line-height:150%;
			border-bottom:1px solid #C8C8C8;
		}
		
		#contents h5 {
			margin:0 0 5px 0;
			color:#000000;
			font-size:80%;
		}
		
		#contents p {
			margin:0 0 30px 0;
			padding:0;
			font-size:80%;
			line-height:180%;
		}
		
		#contents li {
			font-size:80%;
			line-height:180%;
		}
/* end */

/* --- side menu --- */
#lnav ul.others {
	margin:30px 0 0 5px;
	padding:0;
	border-top:2px solid #C8C8C8;
	list-style:none;
	font-size: 90%;
}

	#lnav ul.others li {
		padding:8px 10px 8px 20px;
		background:url(arrowright.gif) no-repeat 10px center;
	}

	#lnav ul.others li a {
		padding:0;
	}

		#lnav ul.others li.download {
			border-bottom:1px dotted #C8C8C8;
		}

		#lnav ul.others li.last {
			border-bottom:1px solid #E6E6E6;
		}

/* --- skip top --- */
#gotop {
	height: 100px;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 20px;
	overflow: hidden;
	position: relative;
}

	#gotop a {
		display:block;
		width:200px;
		height:30px;
		background:url(../images/demo/gotop.jpg) no-repeat center bottom;
	}

	#gotop a:hover {
		background:url(../images/demo/gotop.jpg) no-repeat center top;
	}
	
		#gotop a span {
			display:none;
		}
/* end */


/* --- footer --- */
#footer {
	width: 100%;
	background: #323232 url(../images/demo/footerback.jpg) repeat-x center top;
	position: relative;
	margin: 40px 0px 0px 0px; 
}
		
	#footer #footerarea {
		width:960px;
		margin:0 auto;
		background:url(../images/demo/footerarea.jpg) repeat-y center top;
		position:relative;
	}
		
		#footer #footerarea #copyright {
			width:960px;
			height:80px;
			margin:0 auto;
			color:#ffffff;
			font-size:10px;
			background:url(../images/demo/footerhead.jpg) no-repeat center top;
			position: relative;
		}
			
			#footer #footerarea #copyright img {
				position:absolute; top:20px; left:25px;
			}
			
			#footer #footerarea #copyright p {
				line-height:100%;
				position:absolute; top:25px; left:190px;
			}
/* end */
